
.sidebar{
    display: block;
    position: absolute;
    z-index: 100;
    left:0rem;  
    top: -0.3rem;
    width: 3.8rem;
    padding-right: 0.2rem;
    border: 1px solid #ccc; 
    border-radius: 0 0.8rem 0.8rem 0rem;
    transition: width 0.4s ease-in-out;
    transform-origin: left;
    transform-style: preserve-3D;
    min-height: calc(100vh + 1rem);
    max-height: calc(100vh + 1rem);
    overflow: hidden;
}

.sidebar.active{
    transition: width 0.4s ease-in-out;
    transform-origin: left;
    transform-style: preserve-3D;
    width: 20rem;
    min-width: 3.5rem;
    max-width: 25rem;
}
.acc_base{
    height: calc(100vh - 11rem);
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    width: -webkit-fill-available;
}

.mod_nome, a .men_nome, .usu_nome{
    /* width: 7rem; */
    transition: all 0.4s  linear;
    transform-origin: left;
    transform-style: preserve-3D;
    transform: scale(0);
    white-space: nowrap;
}

.sidebar.active .mod_nome, .sidebar.active a .men_nome, .sidebar.active .usu_nome{
    display: inline-block;
    transition: all 0.4s linear ; 
    transform-origin: left;
    transform-style: preserve-3D;
    white-space: nowrap;
    transform: scale(1);
}
/* .manutencao{
    transition: all 0.4s linear;
    transform-origin: right;
    transform-style: preserve-3D;
} */
.menu{
    /* background-color: lightblue; */
}
.submenu{
    /* background-color: lightcyan; */
}

.bt-manut, .bt_user, .bt_empresa{
    max-height: 3rem;
    height: 3rem;
    /* width: auto;     */
    border-radius: 5rem;
    white-space: nowrap;
}

.img-user, .img-empresa{
    width: 30px;
    height: 30px;
    margin-left: -0.1rem;
}

.txt-bt-manut{
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: left;    
    white-space: nowrap;
    /* width: 7.5rem; */
    transition: all 0.4s linear;
    transform-origin: left;
    transform-style: preserve-3D;
    transform: scale(0);
}

.txt-bt-manut:not(.usu_nome,.men_nome, .mod_nome){
    transform: scale(1);
}

.logo-menu{
    position: absolute;
    -webkit-transform: translate(0%,-60%);
    -ms-transform: translate(0%,-60%);
    transform: translate(0%,-60%);
    left: 5%;
    height: 3rem;
    width: auto;
}
.icon-menu{
    font-size: 1.4rem;
    padding: 0.2rem;
    width: 2.15rem;
    height: 2.15rem;
}

.icon-submenu{
    font-size: 1.2rem;
    padding: 0.1rem;
    width: 2rem;
    height: 2rem;
}
.accordion-button::after{
    content: "\f0a5";
    right: 1rem; 
    font-family: 'Font Awesome 6 Free';
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    flex-shrink: 0;
    margin-left: auto;
    background-image: none;
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed)::after {
    content: "\f0a5";
    right: 3.5rem; 
    font-family: 'Font Awesome 6 Free';
    -webkit-transform: rotate(-450deg);
    -o-transform: rotate(-450deg);
    transform: rotate(-450deg);
    background-image: none;
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button.menu{
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button.menu:not(.collapsed), .accordion-button.submenu:not(.collapsed){
    border:1px groove grey;
}

.accordion-button.submenu{
    /* background-color: lightcyan; */
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}


#show_user.active:after{
    content: "";
    margin-left: auto;
    display: inline-block;
    position: absolute;
    left: -0.2rem;
    top: -0.2rem;
    border-left: 1rem solid #0dcaf0;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #0dcaf0;}

#show_ajuda.show:after {
    content: "";
    margin-left: auto;
    display: inline-block;
    position: absolute;
    right: -0.2rem;
    top: -0.2rem;
    border-right: 1rem solid #0dcaf0;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-top: 1rem solid #0dcaf0;
}


#show_ajuda.show{
    transform: scale(1); 
}
#show_user.active{
    margin-top:3rem; 
    left: 18rem;
    transform: scale(1); 
}
      
#show_user{
    /* display: block; */
    z-index:1000;
    margin-top:1rem; 
    left: 0rem;
    border: 1px solid;
    border-radius: 0 1rem 1rem 1rem;
    transition: all 0.4s linear;
    transform-origin: left top;
    transform-style: preserve-3D;
    transform: scale(0);
}
.card-img-top{
    height: 12rem;
    width: 12rem;
}

#show_ajuda{
    z-index:1000;
    margin-top:3rem; 
    border: 1px solid;
    border-radius: 1rem 0 1rem 1rem ;
    transition: all 0.4s ease-in-out;
    transform-origin: right top;
    transform-style: preserve-3D;
    transform: scale(0);
    right: 6rem;
    left: auto;
}
#show_ajuda > .card-body{
    height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;    
}
.nav-dropdown-menu {
    min-height: 1.65rem;
    max-height: 1.65rem;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.nav-dropdown-menu.active, .nav-dropdown-menu.active a{
    background-color: var(--bs-accordion-btn-focus-border-color);
    border-radius: 1rem;
    color:var(--bs-white);/* #0458eb;*/
    font-style: italic;
    border: 1px solid black;
}